body{
    color:rgb(8, 6, 8);
    background:blueviolet;
    margin: 0px;
    font-family: "Asap Condensed", sans-serif;
}

header {
    border-bottom: solid 2px rgb(240, 127, 240);
    padding: 20px;
    font-size: 32px;
    color: rgb(251, 96, 153);
}

section{
    background: rgb(188, 142, 251);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
 
.chamada-texto{
    margin-right: 5%;
}

